In [1]:
import pandas as pd
import os

py_bank = pd.read_csv("PyBank.csv")

py_bank

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [2]:
# Check data types
py_bank.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [3]:
# Check number of Months by checking number of Columns using Shape
py_bank.shape[0]

86

In [4]:
#Assign Number of Months as variable
no_months = py_bank.shape[0]

In [5]:
# Or Check Number of Months by checking number of Columns using length
len(py_bank)

86

In [6]:
#Find Net Total of Profit/Loss by sum function
py_bank["Profit/Losses"].sum()

38382578

In [7]:
sum_profit = py_bank['Profit/Losses'].sum()

In [8]:
#Find Change in Profit
change_in_profit = py_bank['Profit/Losses'] - py_bank['Profit/Losses'].shift()
change_in_profit.mean()

-2315.1176470588234

In [9]:
avg_change_in_profit = change_in_profit.mean()

In [15]:
#Find max increase in profit
max_profit_idx = change_in_profit.idxmax()
max_month = py_bank.loc[max_profit_idx, :][0]
max_amount = change_in_profit[max_profit_idx]
max_month, max_amount

('Feb-2012', 1926159.0)

In [21]:
#Find min decrease in profit
min_profit_idx = change_in_profit.idxmin()
min_month = py_bank.loc[min_profit_idx, :][0]
min_amount = change_in_profit.min()
min_month, min_amount

('Sep-2013', -2196167.0)

In [22]:
# Create Output String: Copy Text, create F string and Input Variable
output_string = f"""Financial Analysis
----------------------------
Total Months: {no_months}
Total: ${sum_profit}
Average  Change: ${avg_change_in_profit:.2f}
Greatest Increase in Profits: {max_month} (${max_amount:,})
Greatest Decrease in Profits: {min_month} (${min_amount:,})"""

In [25]:
#Print Output String
print(output_string)

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1,926,159.0)
Greatest Decrease in Profits: Sep-2013 ($-2,196,167.0)

In [26]:
# Write String to a file
with open("pybank_challenge.txt", "w") as file: 
    file.write(output_string)