In [1]:
import pandas as pd
import os
#Import CSV File
election_df = pd.read_csv("Election.csv")

In [2]:
#Check File Location
os.getcwd()

'C:\\Users\\jflorence\\00_SMU_PYTHON'

In [3]:
#Print Preview of CSV
election_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [4]:
#Get Total number of Votes Cast
total_votes = len(election_df)
total_votes

3521001

In [29]:
election_df["Candidate"].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [47]:
#Complete List of Candidates that received votes
election_df.dtypes
Candidate_votes = election_df['Candidate'].value_counts()
Candidate_votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [11]:
#The percentage of votes each candidate won
percentage_vote = election_df['Candidate'].value_counts(normalize=True)
percentage_vote

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [12]:
#The total number of votes each candidate won
candidate_votes = election_df['Candidate'].value_counts()
candidate_votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [111]:
#The winner of the election based on popular vote
candidate_votes.max()

2218231

In [114]:
#otal_votes.sum()

In [84]:
testrun={}
for col in election_df.columns:
    print(election_df[col].name)
    print(len(election_df[col].unique()))
    
    testrun[election_df[col].name]=len(election_df[col].unique())

Voter ID
3521001
County
5
Candidate
4

In [61]:
election_df.shape[0]

3521001

In [101]:
# (KHAN) Candidate Individual Totals
khan_total = (candidate_votes[0])
khan_total

2218231

In [102]:
# (CORREY) Candidate Individual Totals
correy_total = (candidate_votes[1])
correy_total

704200

In [103]:
# (LI) Candidate Individual Totals
li_total = (candidate_votes[2])
li_total

492940

In [104]:
# (OTOOLEY) Candidate Individual Totals
otooley_total = (candidate_votes[3])
otooley_total

105630

In [106]:
# (KHAN) Candidate Individual Percentage Vote
khan_percentage = (percentage_vote[0])
khan_percentage

0.6300001050837531

In [164]:
# (Correy) Candidate Individual Percentage Vote
correy_percentage = (percentage_vote[1])
correy_percentage

0.19999994319797126

In [168]:
# (Li) Candidate Individual Percentage Vote
li_percentage = (percentage_vote[2])
li_percentage

0.13999996023857988

In [169]:
# (O'tooley) Candidate Individual Percentage Vote
otooley_percentage = (percentage_vote[3])
otooley_percentage

0.02999999147969569

In [203]:
output_string = f"""Election Results
-------------------------
Total Votes: {total_votes}
-------------------------
Khan: {khan_percentage:.0%} ({khan_total})
Correy: {correy_percentage:.0%} ({correy_total})
Li: {li_percentage:.0%} ({li_total})
O'Tooley: {otooley_percentage:.0%} ({otooley_total})
-------------------------
Winner: {winner}
-------------------------"""

In [204]:
#Format to percentage
print(f'{khan_percentage:.0%}')

63%

In [205]:
print(output_string)

Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 63% (2218231)
Correy: 20% (704200)
Li: 14% (492940)
O'Tooley: 3% (105630)
-------------------------
Winner: Khan
-------------------------

In [202]:
#Winner
winner = candidate_votes.idxmax()
winner

'Khan'